<%-include("partials/home-header");%>

<div class="row">
  <div class="col-md-4">
    <img src="<%=result.authorImage%>" style="width: 100%;" alt="Author's Image">
  </div>
  <div class="col-md-8">
    <div class="page-layout">
      <h1><%=name%></h1>
      <p><%=result.authorBio%></p>
      <h2>Works</h2>
      <%works.forEach(function(work){%>
        <a href="/articles/<%=work._id%>"><%=work.title%></a>
      <%});%>
    </div>
  </div>
</div>

<%-include("partials/footer");%>
